<h1>Hello World! from index</h1>

<a href = "/demo/hello">hello page 1</a><br/>
<%= link_to("hello page 2" , :action => 'hello') %><br/>

<%= link_to("hello with parameters" , :action => 'hello' , :id => '20' , :page => '5') %>