<%= link_to("List",pages_path,:class => 'back-link') %>


<div class="pages new">
	<h1>Create new Page</h1>
	<%= form_for(@page) do |f| %>

	   <%= render(:partial => 'form',:locals => {:f => f}) %>

    <div class="form-buttons">
    	<%= f.submit("Update Page")%>
    </div>
    <% end %>
</div>    	
